.album-container {
  width: 100%;
  height: 350px;
  background: #ffffff;
  margin: 20px 0;

  .album-upper-container {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 20px;
    border-bottom: 1px solid #f3f3f3;

    .album-title {
      font-size: 1.2em;
      font-weight: 500;
      margin-bottom: 5px;
    }

    .album-details {
      font-size: 0.9em;
      color: #c1c1c1;
    }
  }

  .album-lower-container {
    width: 100%;
    height: calc(100% - 120px);
    padding: 25px 0;
    position: relative;
    overflow: hidden;

    .carousel-container {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
      width: calc(100% - 20px);
      overflow: hidden;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
    }

    .arrow-container {
      background: #ffffff;
      padding: 20px 12px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 3px;
      box-shadow: 2px 2px 7px 0px #888888;
      cursor: pointer;
    }

    .arrow-icon {
      width: 16px;
      height: 30px;
      background: url('../images/right_arrow.svg');
      background-repeat: no-repeat;
      background-size: 130% 100%;
    }

    .prev {
      transform: rotate(180deg);
    }
  }
}
