.image-container {
  height: 100%;
  margin: 0 20px;

  .image-sub-container {
    width: 165px;
    height: 100%;

    .url-image {
      width: 100%;
      height: 165px;
    }

    .image-title {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 15px;
      margin-bottom: 7px;
    }

    .image-id {
      text-align: center;
      font-size: 1.2em;
    }
  }
}
